<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear cuenta</title>
</head>
<body>

    <form action="/empleador-register" method="post">
        <input type="email" id="email" name="email" required class="emailInput"  placeholder="Correo electronico">
        <input type="password" id="password" name="password" required class="passwordInput"  placeholder="Contraseña">
        <input type="text" id="name" name="name" required class="nameInput"  placeholder="Nombre de la empresa">
        <input type="text" id="address" name="address" required class="addressInput"  placeholder="Domicilio de la empresa">
        <input type="text" id="razonSocial" name="razonSocial" required class="RazonSocialInput"  placeholder="Razon social de la empresa">
        <textarea id="description" name="description" required class="descriptionInput" placeholder="Descripción de la empresa"></textarea>     
        <button type="submit" class="btnRegister">Registrarse</button>
    </form>

    <h1 style="color: red;">CUENTA YA REGISTRADA</h1>

</body>
</html>